.AppMenu {
    text-align: center;
    justify-content: 'space-around';
}

.AppName {
    font-size: 20px;
    padding: .92857143em 1.14285714em;
    justify-content: 'space-around';
    color: #2B7A78;
}